In [ ]:
#Ans1
#To comment code in Python, you can use the # symbol for single-line comments.
#For multi-line comments, you can enclose the text within triple quotes (''' or """).

In [2]:
#Ans2
#variables in Python are containers used to store data values. You declare a variable by assigning a value to it using the = sign.
a=2

In [1]:
#Ans3
num = 10
str_num = str(num)  # Converts num to string, usig in built functions

In [ ]:
#Ans4
#python script_name.py

In [ ]:
#Ans5
list1 = [1, 2, 3, 4, 5]
list2 = list1[1:3]

In [3]:
#Ans6
#In mathematics, a complex number is represented as a + bi, where a and b are real numbers and i is the imaginary unit(iota).
my_complex_number = complex(3, 4)
print(my_complex_number)

(3+4j)

In [ ]:
#Ans7
age=25

In [ ]:
#Ans8
price=9.99 #float

#Ans9
name='Dishank Arora'
print(name)

In [7]:
#Ans10
my_string = "Hello, World!"
substring = my_string[7:12]

In [9]:
#Ans11
is_student = True  #True if you are a student, False otherwise